---
layout: default
---

<ul class="posts">
  <!-- Education -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Education</h1>
  </li>

  <li class="workex">
    <img class="schoolimg" src="{{ "/assets/mnnit.png" | relative_url }}" alt="MNNIT">
    <div class="workexinfo">
	  <h2>National Institute of Technology, Allahabad</h2>
      <h1>May 2015 - May 2019</h1>
      <p>
		I graduated with a Bachelor of Technology in Computer Science with a CPI of 8.4/10.
		My undergrad studies gave me an awesome opportunity to explore my interests.
	  </p>
    </div>
  </li>
  <li class="workex">
    <img class="schoolimg" src="{{ "/assets/dps.jpeg" | relative_url }}" alt="DPS">
    <div class="workexinfo">
	  <h2>Delhi Public School, Mathura Road</h2>
      <h1>April 2013 - April 2015</h1>
      <p>
		Completed my High School under the CBSE Board with a 95.6% in the Board Exam.
		Apart from the usual science subjects, I had Maths and Computers in my coursework.
	  </p>
    </div>
  </li>
  <li class="workex">
    <img class="schoolimg" src="{{ "/assets/gms.jpg" | relative_url }}" alt="GMS">
    <div class="workexinfo">
	  <h2>Goethals Memorial School, Kurseong</h2>
      <h1>March 2005 - March 2013</h1>
      <p>
		With my studies affiliated to ICSE Board, completed my secondary schooling with a 93.34%.
	  </p>
    </div>
  </li>
</ul>

</ul>
<ul class="posts">
  <!-- WorkEx and Positions -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Experience</h1>
  </li>

  <li class="workex">
    <img class="workeximg" src="{{ "/assets/arista.jpg" | relative_url }}" alt="Arista Networks">
    <div class="workexinfo">
	  <h2>Arista Networks, Bangalore, India</h2>
      <h1>July 2019 - Present</h1>
      <p>
		I have been working at Arista for more than a year now.
		Currently I am in the team that works on <a href="https://www.ittsystems.com/access-control-list-acl/">Access Control Lists</a> that filter packets based on IP/IPv6/MAC Addresses.
		Check out my <a href="/projects">projects</a> to find out about all the stuff I've done at Arista.
	  </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/arista.jpg" | relative_url }}" alt="Arista Networks">
    <div class="workexinfo">
	  <h2>Arista Networks, Bangalore, India</h2>
      <h1>May 2018 - July 2018</h1>
      <p>
		Prior to working at Arista Full Time, I was a Software Enginering Intern in the team
		that controls how routes are established on Arista Switches. This internship led to
		my full time role. This internship gave me a gist of how discplined one needs to be
		while writing code that customers actually use.
	  </p>
    </div>
  </li>

</ul>

<ul class="posts">
  <!-- Achievements -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Achievements</h1>
  </li>

  <li>
	<h2 class="achyear">March 2020, Bangalore, India</h2>
	<h2 class="achievement">Best Project For business - Arista's Biannual Hackathon ( SanitizeIT )</h2>
  </li>
  <li>
	<h2 class="achyear">October 2019, Bangalore, India</h2>
	<h2 class="achievement">Best Project In Fresher's Category - Arista's biannual Hackathon ( ImproveIT )</h2>
  </li>
  <li>
	<h2 class="achyear">September 2019, Allahabad, India</h2>
	<h2 class="achievement">Runner Up in Volleyball - Intra College Sports Fest ( Josh )</h2>
  </li>
  <li>
	<h2 class="achyear">March 2018, Allahabad, India</h2>
	<h2 class="achievement">Runner Up - National Level University Hackathon ( Hack36 )</h2>
  </li>
  <li>
	<h2 class="achyear">September 2017, Allahabad, India</h2>
	<h2 class="achievement">Winner - Software Dev Event ( SoftaBlitz, Avishkar )<h2>
  </li>
  <li>
	<h2 class="achyear">September 2017, Allahabad, India</h2>
	<h2 class="achievement">Runner Up - Website Dev Event ( Webster, Avishkar )</h2>
  </li>
  <li>
	<h2 class="achyear">September 2016, Allahabad, India</h2>
	<h2 class="achievement">Second Runner Up - Software Dev Event ( SoftaBlitz, Avishkar )</h2>
  </li>
  <li>
	<h2 class="achyear">September 2015, Allahabad, India</h2>
	<h2 class="achievement">Winner in Volleyball - Inter College Sports Fest ( JLal )</h2>
  </li>
  <li>
	<h2 class="achyear">December 2013, New Delhi, India</h2>
	<h2 class="achievement">Second Runner Up - Programming Contest ( Hash )</h2>
  </li>
</ul>
