---
layout: default
---

<ul class="posts">
  <!-- Education -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Education</h1>
  </li>

  <li class="workex">
    <img class="workeximg" src="{{ "/assets/mnnit.png" | relative_url }}" alt="MNNIT">
    <div class="workexinfo">
	  <h2>MNNIT Allahabad</h2>
      <h1>May 2015 - May 2019</h1>
      <p>Bachelor of Technology in Computer Science</p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/dps.jpeg" | relative_url }}" alt="DPS">
    <div class="workexinfo">
	  <h2>Delhi Public School, Mathura Road</h2>
      <h1>April 2013 - April 2015</h1>
      <p>CBSE - 95.6%</p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/gms.jpg" | relative_url }}" alt="GMS">
    <div class="workexinfo">
	  <h2>Goethals Memorial School, Kurseong</h2>
      <h1>March 2005 - March 2013</h1>
      <p>ICSE - 93.34%</p>
    </div>
  </li>
</ul>

</ul>
<ul class="posts">
  <!-- WorkEx and Positions -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Experience</h1>
  </li>

  <li class="workex">
    <img class="workeximg" src="{{ "/assets/arista.jpg" | relative_url }}" alt="Arista Networks">
    <div class="workexinfo">
	  <h2>Arista Networks, Bangalore, India</h2>
      <h1>July 2019 - Present</h1>
      <p>Been working as a Software Engineer</p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/arista.jpg" | relative_url }}" alt="Arista Networks">
    <div class="workexinfo">
	  <h2>Arista Networks, Bangalore, India</h2>
      <h1>May 2018 - July 2018</h1>
      <p>Software D Engineer Intern</p>
    </div>
  </li>

</ul>

<ul class="posts">
  <!-- Achievements -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Achievements</h1>
  </li>

  <li> <h2 class="achyear">March 2020</h2> <h2 class="achievement">Best project for business - Arista Networks Bangalore Hackathon</h2> </li>
  <li> <h2 class="achyear">October 2019</h2> <h2 class="achievement">Best project in Fresher's category - Arista Networks Bangalore Hackathon</h2> </li>
  <li> <h2 class="achyear">September 2019</h2> <h2 class="achievement">Runner Up - Intra college Volleyball @Josh</h2> </li>
  <li> <h2 class="achyear">March 2018</h2> <h2 class="achievement">Runner Up - Hack36 ( National Level University Hackathon )</h2></li>
  <li> <h2 class="achyear">September 2017</h2> <h2 class="achievement">Winner - Software Dev Event @Avishkar ( Tech Fest )<h2></li>
  <li> <h2 class="achyear">September 2017</h2> <h2 class="achievement">Runner Up - Website Dev Event @Avishkar ( Tech Fest )</h2></li>
  <li> <h2 class="achyear">September 2016</h2> <h2 class="achievement">Second Runner Up - Software Dev Event @Avishkar ( Tech Fest )</h2></li>
  <li> <h2 class="achyear">September 2015</h2> <h2 class="achievement">Winner - Inter college Volleyball @JLal</h2> </li>
  <li> <h2 class="achyear">December 2013</h2> <h2 class="achievement">Second Runner Up - Programming Context @Hash ( Tech Fest )</h2></li>
</ul>
