---
layout: default
---

<ul class="posts">
  <!-- Travel -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Travel</h1>
  </li>

  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/mountain.jpg" | relative_url }}" alt="mountain">
    <div class="workexinfo">
	  <h2>Trekking & Mountains</h2>
      <p>
		Belonging from the Himalayan country of Nepal, I more than love to be at a higher ground.
		With my first snow trek being the trek to the summit of <a>Kedarkantha</a> in Uttarakhand,
		I've never stopped dreaming of going to more and more treks. Following the first trek I
		went on do more a few more treks which include peaks of <a>Nag Tibba</a>, <a>Tugnath ( the highest
		Shiva temple in the world )</a>, <a>Deoriatal Lake</a>, and some short treks
		to villages in the <a>Parvati Valley</a> like <a>Kutla, Tosh, Kasol</a>.
		If I have a week's vacation, I prefer going to the moutains, over anything else.
      </p>
	  <p>Check out my <a href="https://www.instagram.com/avisheksanthaliya/">instagram</a> to know more about my adventures</p>
    </div>
  </li>
  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/beach.jpg" | relative_url }}" alt="beach">
    <div class="workexinfo">
	  <h2>Beaches</h2>
      <p>
		Post college, my job being in Bangalore gave me an opportunity to visit the beautiful <a>beaches in South India</a>.
		The beach-places I've visited include <a>Pondicherry</a>, <a>Gokarna</a>, with Gokarna being my personal favourite. Apart from that,
		during my family vacation to Dubai, I got to witness some lovely artificial beaches like the <a>Palm Jumeirah</a> as well.
      </p>
    </div>
  </li>
</ul>
<ul class="posts">
  <!-- Sports -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Sports</h1>
  </li>

  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/soccer.jpg" | relative_url }}" alt="soccer">
    <div class="workexinfo">
	  <h2>Soccer ( Football )</h2>
      <p>
		Pursuing my primary education from a boarding school in the beautiful hill station of <a>Darjeeling</a>,
		there was always a push to be good at sports as the <a>sports culture</a> there was the best, with
		schools conducting regular competitions which gave a sense of pride if won. Following the early
		interest in sports, even till now, I am a person who's always ready to play at any time of the
		day with Football being a game I would wake up at midnight for. Playing as a <a>mid-fielder</a> who
		structures the game for the team is what I like. Also, apart from the standard international ground size,
		I like to play <a>Futsal</a> which is played in a smaller ground.
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/volley.jpg" | relative_url }}" alt="volley">
    <div class="workexinfo">
	  <h2>Volleyball</h2>
      <p>
		One other game that I've played a lot is Volleyball. Although football being the game I
		play for fun, Volleyball is the game where I like to represent the institutions I've been a part of.
		I played as a <a href="https://www.liveabout.com/libero-position-indoor-volleyball-3429244">libero</a>
		for both my <a>school team</a> and <a>college team</a> that I've been part of. I have participated
		in various national as well as state level competitions which include sports fests of <a>IIT BHU</a>,
		<a>Inter-NIT</a>, <a>IIT Roorkee</a>, <a>IIIT Allahabad</a>.
      </p>
    </div>
  </li>
</ul>
<ul class="posts">
  <!-- Adventure Sports -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Adventure Sports</h1>
  </li>

  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/bungee.jpg" | relative_url }}" alt="bungee">
    <div class="workexinfo">
	  <h2>Bungee Jumping</h2>
      <p>
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/scuba.jpg" | relative_url }}" alt="scuba">
    <div class="workexinfo">
	  <h2>Scuba Diving</h2>
      <p>
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/swing.jpg" | relative_url }}" alt="swing">
    <div class="workexinfo">
	  <h2>Canyon Swing</h2>
      <p>
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/desert.jpg" | relative_url }}" alt="desert">
    <div class="workexinfo">
	  <h2>Quad Biking</h2>
      <p>
      </p>
    </div>
  </li>
</ul>
