---
layout: default
---

<ul class="posts">
  <!-- Sports -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Sports</h1>
  </li>

  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/soccer.jpg" | relative_url }}" alt="soccer">
    <div class="workexinfo">
	  <h2>Football</h2>
      <h1>June 2020 - August 2020</h1>
      <p>
        Football.
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/volley.jpg" | relative_url }}" alt="volley">
    <div class="workexinfo">
	  <h2>Volleyball</h2>
      <h1>June 2020 - August 2020</h1>
      <p>
        Volleyball.
      </p>
    </div>
  </li>
</ul>
<ul class="posts">
  <!-- Travel -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Adventure Sports</h1>
  </li>

  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/bungee.jpg" | relative_url }}" alt="bungee">
    <div class="workexinfo">
	  <h2>Bungee</h2>
      <p>
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/scuba.jpg" | relative_url }}" alt="scuba">
    <div class="workexinfo">
	  <h2>Scuba Diving</h2>
      <p>
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/swing.jpg" | relative_url }}" alt="swing">
    <div class="workexinfo">
	  <h2>Swing</h2>
      <p>
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/desert.jpg" | relative_url }}" alt="desert">
    <div class="workexinfo">
	  <h2>Desert</h2>
      <p>
      </p>
    </div>
  </li>
</ul>
<ul class="posts">
  <!-- Travel -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Travel</h1>
  </li>

  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/beach.jpg" | relative_url }}" alt="beach">
    <div class="workexinfo">
	  <h2>Beach</h2>
      <p>
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="hobbiesimg" src="{{ "/assets/mountain.jpg" | relative_url }}" alt="mountain">
    <div class="workexinfo">
	  <h2>Mountain</h2>
      <p>
      </p>
    </div>
  </li>
</ul>
