---
layout: default
---
<ul class="posts">
  <div class="intro">
    <li class="posts-labelgroup" id="posts-labelgroup"></li>
	<h1>Hey, I'm Avishek.</h1>
    <li class="posts-labelgroup" id="posts-labelgroup"></li>
    <p>
	Born in a small but beautiful himalayan country of Nepal, I love to be at places where the breeze is always cold.
    Currently, I work for <a href="https://www.arista.com/en/">Arista Networks</a> from our 
	<a href="https://www.arista.com/en/careers/india">Bangalore office</a> as a Software Engineer.
    My high school and undergrad have given me a lot of opporutnities and I've tried everything from
    <a href=>competitive programming</a> to <a href="/projects">development of all sorts</a>.
    I'm still in the process of figuring out which field interests me most.
    Recently, I've done a few projects at Arista as well as independently which have shown me the magic of Data Science and Machine Learning.
    Also, I'm a person who likes to <a href="/hobbies">travel and play</a> a lot.
    </p>
  </div>
</ul>
