---
layout: default
---

<ul class="posts">
  <!-- Projects -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">During Arista Networks</h1>
  </li>

  <li class="workex">
    <img class="workeximg" src="{{ "/assets/arista.jpg" | relative_url }}" alt="Arista">
    <div class="workexinfo">
	  <h2>CLI Configurable Mac Secuirty MKA MAC Address</h2>
      <h1>June 2020 - August 2020</h1>
      <p>
        Add detail here.
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/arista.jpg" | relative_url }}" alt="Arista">
    <div class="workexinfo">
	  <h2>Layer 2 Protocol Forwarding</h2>
      <h1>February 2020 - May 2020</h1>
      <p>
        Worked on providing a feature for arista switches that allows CLI configurations to decide what packets to forward and what to trap.
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/arista.jpg" | relative_url }}" alt="Arista">
    <div class="workexinfo">
	  <h2>Tool Control Chat BOT for Google Hangouts Chat</h2>
      <h1>ImproveIT Hackathon - October 2019</h1>
      <p>
        Made a chat bot integrated with GHC for the employess to use to run tests and other things when they are not close to their laptop.
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/arista.jpg" | relative_url }}" alt="Arista">
    <div class="workexinfo">
	  <h2>Egress Mac ACLs</h2>
      <h1>September 2019 - January 2020</h1>
      <p>
        Access Control List based on MAC Addresses for Arista Switches.
      </p>
    </div>
  </li>
</ul>

<ul class="posts">
  <!-- Other Projects -->
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">Other Projects</h1>
  </li>

  <li class="workex">
    <img class="workeximg" src="{{ "/assets/invoice.jpg" | relative_url }}" alt="InvoiceSoftware">
    <div class="workexinfo">
	  <h2>Business Enhancement Software</h2>
      <h1>Freelance June 2020 - July 2020 (<a href="https://github.com/avisheksanvas/AdvertisementAR">Github</a>)</h1>
      <p>
        Built a software to maintain stock and create invoices. Has functionality using data science to create new orders of most used items. etc.
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/navigation.jpg" | relative_url }}" alt="Navigation">
    <div class="workexinfo">
	  <h2>Indoor Navigation</h2>
      <h1>Undegrad Final Year Project (<a href="https://github.com/avisheksanvas/AdvertisementAR">Github</a>)</h1>
      <p>
        Indoor Navigation using AR.
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/AR.jpg" | relative_url }}" alt="MNNIT">
    <div class="workexinfo">
	  <h2>Advertisement AR</h2>
      <h1>Undergrad Junior Year Project (<a href="https://github.com/avisheksanvas/AdvertisementAR">Github</a>)</h1>
      <p>
        Dynamic Advertisements.
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/jarvis.jpg" | relative_url }}" alt="Jarvis">
    <div class="workexinfo">
	  <h2>Jarvis Chat Bot</h2>
      <h1>Hack36 National Hackathon - 2018 (<a href="https://github.com/Abhey/JarvisBot">Github</a>)</h1>
      <p>
        Intelligently Interactive Bot. Built with Python and Zulip.
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/lecture.png" | relative_url }}" alt="Lecture">
    <div class="workexinfo">
	  <h2>Lecture Mate</h2>
      <h1>College Tech Fest (<a href="https://github.com/avisheksanvas/EasySeminar">Github</a>)</h1>
      <p>
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/freelancer.jpg" | relative_url }}" alt="freelancer">
    <div class="workexinfo">
	  <h2>Freelancing</h2>
      <h1>College Tech Fest (<a href="https://github.com/avisheksanvas/Freelancing-Webster2k17">Github</a>)</h1>
      <p>
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/tutor.jpg" | relative_url }}" alt="tutor">
    <div class="workexinfo">
	  <h2>Tutor Point</h2>
      <h1>College Tech Fest (<a href="https://github.com/avisheksanvas/Tutor-Point">Github</a>)</h1>
      <p>
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/extension.jpeg" | relative_url }}" alt="extension">
    <div class="workexinfo">
	  <h2>Imagopedia</h2>
      <h1>College Tech Fest (<a href="https://github.com/avisheksanvas/Imagopedia">Github</a>)</h1>
      <p>
      </p>
    </div>
  </li>
  <li class="workex">
    <img class="workeximg" src="{{ "/assets/judge.jpg" | relative_url }}" alt="judge">
    <div class="workexinfo">
	  <h2>Online Judge</h2>
      <h1>College Tech Fest (<a href="https://github.com/avisheksanvas/RPOnlineJudge">Github</a>)</h1>
      <p>
      </p>
    </div>
  </li>
</ul>
